<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Diabetes Prediction</title>
    <meta name="theme-color" content="white">
    <!-- Import Google Font-->
    <link rel="preconnect" href="static/css/fonts.googleapis.com/index.html">
    <link rel="preconnect" href="../fonts.gstatic.com/index.html" crossorigin>
    <link href="static/css/fonts.googleapis.com/css23585.css?family=Inter:wght@400;500;600;700;800&amp;display=swap" rel="stylesheet" id="google-font">
    <!-- Vendor styles-->
    <!-- <link rel="stylesheet" media="screen" href="assets/vendor/swiper/swiper-bundle.min.css"/> -->
    <!-- <link rel="stylesheet" media="screen" href="assets/vendor/lightgallery/css/lightgallery-bundle.min.css"/> -->
    <!-- Main Theme Styles + Bootstrap-->
    <!-- <link rel="stylesheet" media="screen" href="assets/css/theme.min.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/theme.min.css') }}">

  </head>
  <!-- Body-->
  <body>

    <!-- Page wrapper-->
    <main class="page-wrapper">

      <!-- Page content-->
      <!-- Hero-->
      <section class="position-relative py-5" style="background-color: rgb(15, 86, 86);">
        <div class="d-none d-dark-mode-block position-absolute top-0 start-0 w-100 h-100"></div>
        <div class="container dark-mode position-relative zindex-2 py-5 mb-4 mb-sm-5">
          <div class="row pb-5 mb-2 mb-sm-0 mb-lg-3">
            <div class="col-lg-10 col-xl-9">
              <h1 class="display-2 pb-2 pb-sm-3">Diabetes Prediction</h1>
              <p>The Model used in this case has an accuracy of 85%.
                Therefore, there is a 25% chance that the algorithm might be wrong.
                Please, visit the nearest hospital to get the tight result.
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- About-->
      <section class="container position-relative zindex-3" style="margin-top: -135px;">
        <div class="rounded-5 overflow-hidden"> 
          <div class="jarallax ratio ratio-16x9" data-jarallax data-speed="0.6">
            <div class="jarallax-img" style="background-image: url(static/img/diabetes_patient.jpg?w=1155&h=2268);"></div>

          </div>
        </div>
        
      </section>

      <!-- Services-->
      <section class="bg-secondary py-5">
        <div class="container py-3 py-sm-4 py-lg-5 my-md-2 my-lg-3 my-xl-4 my-xxl-5">
          <div class="fs-sm text-uppercase mb-3 mt-xl-2 mt-xxl-3">Work with us</div>
          <h2 class="h1 pb-3 mb-lg-4">Our services</h2>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4 pb-xl-2 pb-xxl-3">
            <!-- Item-->
            <div class="col">
              <div class="card h-100 border-0 rounded-5">
                <div class="card-body ">
                  
                  <h3 class="h4">Predict Diabetes</h3>
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget molestie massa. Donec egestas ex et velit egestas dignissim. Sed fringilla velit turpis.</p>
                </div>
                <div class="card-footer border-0 mb-3">
                  <a class="btn btn-icon  btn-outline-primary rounded-circle" href="{{ url_for('predict_diabetes') }}">
                    <i class="ai-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>

            <!-- Item-->
            <div class="col">
              <div class="card h-100 border-0 rounded-5">
                <div class="card-body ">
                  
                  <h3 class="h4">Helpful Tips</h3>
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget molestie massa. Donec egestas ex et velit egestas dignissim. Sed fringilla velit turpis.</p>
                </div>
                <div class="card-footer border-0 mb-3">
                  <a class="btn btn-icon  btn-outline-primary rounded-circle" href="#">
                    <i class="ai-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>


            <!-- Item-->
            <div class="col">
              <div class="card h-100 border-0 rounded-5">
                <div class="card-body ">
                  
                  <h3 class="h4">Find the Nearest Hospital</h3>
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget molestie massa. Donec egestas ex et velit egestas dignissim. Sed fringilla velit turpis.</p>
                </div>
                <div class="card-footer border-0 mb-3">
                  <a class="btn btn-icon  btn-outline-primary rounded-circle" href="#">
                    <i class="ai-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
           
  
          </div>
        </div>
      </section>
    </main>

    <!-- Footer-->
    <footer class="footer position-relative py-4 py-md-5 d-none" style="background-color: rgb(15, 86, 86);">
      <div class="dark-mode container position-relative zindex-2 pt-4 pt-md-2 pt-xl-4 pt-xxl-5">
        
        <p class="fs-sm pb-2 pb-lg-0 mb-0">
          <span class="opacity-70"> &copy; All rights reserved. Made by </span>
            <a class="nav-link d-inline fw-normal p-0" href="https://createx.studio/" target="_blank" rel="noopener">
              Createx Studio
            </a>
          </p>

      </div>
    </footer>
   

  </body>
</html>